<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Ng-baidu-map by gengen1988</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <style>
      .map {
        width: 200px;
        height: 200px;
      }
    </style>
    <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?a0abb2fc5a719b58c167c2cfacc0a34b";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

  </head>
  <body ng-app="app">
    <section class="page-header">
      <h1 class="project-name">Ng-baidu-map</h1>
      <h2 class="project-tagline">百度地图 for AngularJS</h2>
      <a href="https://github.com/gengen1988/ng-baidu-map" class="btn">View on GitHub</a>
      <a href="https://github.com/gengen1988/ng-baidu-map/zipball/master" class="btn">Download .zip</a>
      <a href="https://github.com/gengen1988/ng-baidu-map/tarball/master" class="btn">Download .tar.gz</a>
    </section>

    <section class="main-content">
      <h1>
<a id="百度地图-for-angular" class="anchor" href="#%E7%99%BE%E5%BA%A6%E5%9C%B0%E5%9B%BE-for-angular" aria-hidden="true"><span class="octicon octicon-link"></span></a>百度地图 for Angular</h1>

<p>这个模块包含了使用百度地图的 directive。</p>

<p>这个模块自动管理百度地图 API 的加载，无需引入百度地图的 loader。</p>

<p>支持双向绑定。</p>

<table class="main-container" ng-init="point = { lng: 116.404, lat: 39.915 }">
  <thead>
    <th>地图演示</th>
    <th>键</th>
    <th>值</th>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2">
        <baidu-map class="map" center="point"></baidu-map>
      </td>
      <td>lat</td>
      <td>
        <input type="number" ng-model="point.lat" >
      </td>
    </tr>
    <tr>
      <td>lng</td>
      <td>
        <input type="number" ng-model="point.lng" >
      </td>
    </tr>
  </tbody>
</table>

<h2>
<a id="安装方法" class="anchor" href="#%E5%AE%89%E8%A3%85%E6%96%B9%E6%B3%95" aria-hidden="true"><span class="octicon octicon-link"></span></a>安装方法</h2>

<p>使用 bower 安装</p>

<div class="highlight highlight-bash"><pre>bower install ng-baidu-map --save</pre></div>

<p>在自己的模块中加入依赖</p>

<div class="highlight highlight-javascript"><pre>angular.module(<span class="pl-s"><span class="pl-pds">'</span>app<span class="pl-pds">'</span></span>, [<span class="pl-s"><span class="pl-pds">'</span>ngBaiduMap<span class="pl-pds">'</span></span>]);</pre></div>

<h2>
<a id="使用方法" class="anchor" href="#%E4%BD%BF%E7%94%A8%E6%96%B9%E6%B3%95" aria-hidden="true"><span class="octicon octicon-link"></span></a>使用方法</h2>

<p>在 <code>angular.module</code> 的 <code>config</code> 中配置 accessKey 和 version</p>

<p>version 默认是 2.0</p>

<p>例子：</p>

<div class="highlight highlight-javascript"><pre>angular.module(<span class="pl-s"><span class="pl-pds">'</span>app<span class="pl-pds">'</span></span>, [<span class="pl-s"><span class="pl-pds">'</span>ngBaiduMap<span class="pl-pds">'</span></span>]).config(config);

<span class="pl-k">function</span> <span class="pl-en">config</span>(<span class="pl-smi">baiduMapApiProvider</span>) {
  baiduMapApiProvider.<span class="pl-c1">version</span>(<span class="pl-s"><span class="pl-pds">'</span>2.0<span class="pl-pds">'</span></span>).<span class="pl-c1">accessKey</span>(<span class="pl-s"><span class="pl-pds">'</span>您的 ak<span class="pl-pds">'</span></span>);
}</pre></div>

<p>使用 <code>&lt;baidu-map&gt;&lt;/baidu-map&gt;</code> 加入地图</p>

<p>参数：</p>

<ul>
<li>
<strong>center</strong>: 地图的中心点坐标，使用双向绑定方式与外界的数据进行交互</li>
</ul>

<p>例子：</p>

<pre><code>&lt;div ng-init="point = { lat: 121.491, lng: 31.233 }"&gt;
  &lt;baidu-map center="point"&gt;&lt;/baidu-map&gt;
&lt;/div&gt;
</code></pre>

      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/gengen1988/ng-baidu-map">Ng-baidu-map</a> is maintained by <a href="https://github.com/gengen1988">gengen1988</a>.</span>

        <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
      </footer>

    </section>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/ng-baidu-map/angular-baidu-map.min.js"></script>
    <script>
      angular.module('app', ['ngBaiduMap']).config(function (baiduMapApiProvider) {
        baiduMapApiProvider.accessKey('Ivgr94UBpL6zkp4lUZRtQCys');
      });
    </script>

  </body>
</html>
